#chosen {
border-radius:0px;
width:45px;
padding-top:10px; padding-bottom:10px;
background-image: -webkit-linear-gradient(top, #cccccc, #2641a0);
background-image: -o-linear-gradient(top, #cccccc, #2641a0);
background-image: -moz-linear-gradient(top, #cccccc, #2641a0);
text-align:center;
color:#ffffff;
font-weight:bold; font-size:large;
margin-left:40px;
}
/*Style for the size box*/

#slider {
margin-left:10px;
}
/*position for the slider
*/
#picHolder {
width:250px;
height:240px;
margin:10px;
}
/*starting size of the pic holder*/

/*input[type='range'] {
-webkit-appearance: none;
padding-left:2px; padding-right:2px;
-webkit-border-radius: 2px;
background-image: -webkit-linear-gradient(top, #000000, #000000, #000000);
}

/*style for the slider*/*/
